{% trans %}

<h2> Was ist der Datenraum?</h1>
<p>Der interne Datenraum des BMBF ermöglicht es Mitarbeiter:innen des BMBF, in einer geschützten Umgebung untereinander Daten zu teilen.
Die Daten können referatsübergeifend nach vordefinierten Regeln zugänglich gemacht und genutzt werden.
<p>Es ist möglich, die Daten öffentlich oder privat zu teilen und sie über den Reiter <a href="/de/organization/">Organisationen</a> den einzelnen Abteilungen bzw. Referaten zuzuweisen.
Öffentlich bedeutet, dass jeder oder jede Nutzer:in Zugriff auf die Daten hat. Privat bedeutet, dass entweder nur Mitglieder der Organisation Zugriff auf die Datensätze innerhalb dieser Organisation haben, oder nur einzelne, durch den oder die Administrator:in ausgewählte Nutzer:innen.
<p> Weiterhin können mithilfe von <a href="/de/group/">Gruppen</a> Datensätze für ein bestimmtes Projekt oder ein bestimmtes Thema katagolisiert und den Nutzer:innen zugänglich gemacht werden.</p>

<h2>Ist der interne Datenraum öffentlich zugänglich?</h2>
<p> Nein, der Datenraum ist ausschließlich für Mitarbeitende des BMBF konzipiert.</p>

<h2>Verantwortlichkeit für die Bereitstellung von Daten</h2>
<p>Der Datengeber ist allein verantwortlich für die Einhaltung aller relevanten Gesetze und Vorschriften bei der Bereitstellung von Daten im internen Datenraum. Es dürfen keine personenbezogenen, urheberrechtlich oder anderweitig geschützten Daten geteilt werden. Des Weiteren sind Verschlusssachen von der Bereitstellung ausgeschlossen.</p>

<p>Mit dem Hochladen von Daten bestätigt der Datengeber, dass die Daten keine gesetzlichen Vorschriften verletzen und er die Berechtigung zur Weitergabe dieser Daten besitzt.</p>
{% endtrans %}
