{% ckan_extends %}






  {% block package_metadata_author %}
    {{ form.input('author', label=_('Datengeber:in'), id='field-author', placeholder=_('Max Mustermann'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Datengeber:in E-Mail'), id='field-author-email', placeholder=_('max.mustermann@email.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {{ form.input('maintainer', label=_('Datenmanager:in'), id='field-maintainer', placeholder=_('Erika Mustermann'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

    {{ form.input('maintainer_email', label=_('Datenmanager:in E-Mail'), id='field-maintainer-email', placeholder=_('erika.musterman@email.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
  {% endblock %}
